<div *ngIf="!carregando">
  <table border="1">
    <thead>
      <tr>
        <th>ID</th>
        <th>Nome</th>
        <th>CPF</th>
        <th>Sexo</th>
        <th>Cidade</th>
        <th>UF</th>
      </tr>
    </thead>

    <tbody>
      <tr *ngFor="let atleta of atletas">
        <td>{{ atleta.id }}</td>
        <td>{{ atleta.nome }}</td>
        <td>{{ atleta.cpf }}</td>
        <td>{{ atleta.sexo }}</td>
        <td>{{ atleta.cidade }}</td>
        <td>{{ atleta.uf }}</td>
      </tr>
    </tbody>
  </table>
</div>
